<!-- using mat-toolbar as a navbar which is imported from the angular material for all the components  -->

<mat-toolbar fxLayoutAlign="space-evenly center">
    <div>
        <button [routerLink]="['/']" mat-raised-button class="example-icon" aria-label="Example icon-button with menu icon" color="primary">
      <mat-icon>home</mat-icon>
    </button>
    </div>

    <div>
        <h3 fxLayoutAlign="center center" class="navbarcontent" style="text-align: center;"> &nbsp;&nbsp;&nbsp; HELP DESK</h3>
    </div>

    <div>
        <span>
      <button mat-raised-button [routerLink]="['/response']" color="primary">Responses</button>  
    </span>
    </div>
</mat-toolbar>
<br>


<router-outlet></router-outlet>