<div fxLayout fxLayoutAlign="center center">
    <form [formGroup]='form' (ngSubmit)="onSubmit()">
        <h2 style="text-align: center;">Sit tight. We are here to help you out.</h2>



        <div>
            <label for="name" aria-label="Enter the name of your idea..">Name </label>
            <input formControlName="name" name="name" id="name" type="text" class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid && f.name.errors" class="alert alert-danger">
                <!-- validating near the inputs with the condition -->
                <div *ngIf="f.name.errors.required">Name is required</div>
                <div *ngIf="f.name.errors.minlength">It should be atleast 5 characters</div>
            </div>
        </div><br>
        <br>
        <label for="">Gender</label>
        <br>
        <mat-radio-group aria-label="Select an option" color="primary" formControlName="gender" id="gender" name="gender">

            <mat-radio-button class="example-radio-button" *ngFor="let g of gender" [value]="g">
                {{g}}
            </mat-radio-button>
        </mat-radio-group>

        <br>
        <br>
        <label for="">What is your concern about?</label>
        <br>
        <mat-form-field appearance="outline">


            <mat-label>Select</mat-label>
            <mat-select formControlName="type" id="type" name="type">
                <mat-option value="">
                    Select Option
                </mat-option>
                <mat-option *ngFor="let t of type" [value]="t">{{t}}</mat-option>


            </mat-select>
        </mat-form-field>

        <div>

        </div>



        <br>
        <br>
        <br>
        <div>
            <label for="body" aria-placeholder="Elaborate about your concern in minimum of 20 Words">Description</label>
            <textarea formControlName="body" class="form-control" id="body" name="body" cols="70" rows="10"></textarea>
            <div *ngIf="f.body.touched && f.body.invalid && f.body.errors " class="alert alert-danger">
                <div *ngIf="f.body.errors.required" style="width: 200px;">This coulumn is required</div>
                <div *ngIf="f.body.errors.minlength">Detailed message is required in minimum 20 words</div>
            </div>
        </div>
        <br>
        <br>

        <angular-file-uploader [config]="afuConfig">

        </angular-file-uploader>
        <br>
        <br>
        <div class="form-group" style="text-align: center;">

            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>

    </form>
</div>